@font-face {
  font-family: "NABImpact";
  src: url("../fonts/NABImpact.eot?") format("eot"),
  url("../fonts/NABImpact.woff") format("woff"),
  url("../fonts/NABImpact.ttf") format("truetype"),
  url("../fonts/NABImpact.svg#NAB Impact") format("svg");
}

@font-face {
  font-family: "NABScript";
  src: url("../fonts/NAB-Script.eot?") format("eot"),
  url("../fonts/NAB-Script.woff") format("woff"),
  url("../fonts/NAB-Script.woff2") format("woff2"),
  url("../fonts/NAB-Script.ttf") format("truetype");
}

@font-face {
  font-family: "CorpidBlack";
  src: url("../fonts/corpidc1-black-webfont.eot?") format("eot"),
  url("../fonts/corpidc1-black-webfont.woff") format("woff"),
  url("../fonts/corpidc1-black-webfont.woff2") format("woff2"),
  url("../fonts/corpidc1-black-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "CorpidBold";
  src: url("../fonts/corpidc1-bold-webfont.eot?") format("eot"),
  url("../fonts/corpidc1-bold-webfont.woff") format("woff"),
  url("../fonts/corpidc1-bold-webfont.woff2") format("woff2"),
  url("../fonts/corpidc1-bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "CorpidHeavy";
  src: url("../fonts/corpidc1-heavy-webfont.eot?") format("eot"),
  url("../fonts/corpidc1-heavy-webfont.woff") format("woff"),
  url("../fonts/corpidc1-heavy-webfont.woff2") format("woff2"),
  url("../fonts/corpidc1-heavy-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "CorpidLight";
  src: url("../fonts/corpidc1-light-webfont.eot?") format("eot"),
  url("../fonts/corpidc1-light-webfont.woff") format("woff"),
  url("../fonts/corpidc1-light-webfont.woff2") format("woff2"),
  url("../fonts/corpidc1-light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "CorpidRegular";
  src: url("../fonts/corpidc1-regular-webfont.eot?") format("eot"),
  url("../fonts/corpidc1-regular-webfont.woff") format("woff"),
  url("../fonts/corpidc1-regular-webfont.woff2") format("woff2"),
  url("../fonts/corpidc1-regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "CorpidRegular";
  src: url("../fonts/corpidc1-regular-webfont.eot?") format("eot"),
  url("../fonts/corpidc1-regular-webfont.woff") format("woff"),
  url("../fonts/corpidc1-regular-webfont.woff2") format("woff2"),
  url("../fonts/corpidc1-regular-webfont.ttf") format("truetype");
}


@font-face {
  font-family: "SourceSansBold";
  src: url("../fonts/sourcesanspro-bold.eot?") format("eot"),
  url("../fonts/sourcesanspro-bold.woff") format("woff"),
  url("../fonts/sourcesanspro-bold.woff2") format("woff2"),
  url("../fonts/sourcesanspro-bold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansRegular";
  src: url("../fonts/sourcesanspro-regular.eot?") format("eot"),
  url("../fonts/sourcesanspro-regular.woff") format("woff"),
  url("../fonts/sourcesanspro-regular.woff2") format("woff2"),
  url("../fonts/sourcesanspro-regular.ttf") format("truetype");
}

.md-toolbar-tools h2 {
  font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'NABImpact';
  font-weight: 200;
}

.script {
  text-transform: none!important;
  font-family: 'NABScript';
}

.text-primary {
  color: #BE0D00;
}

.hover-highlight:hover {
  background-color: #eee;
  cursor: pointer; cursor: hand;
}
