<br> <img src="images/logo.cdd7789d.jpg"> 
<h1>Carer Snapshot {{year}} <small>By DHHS Division &amp; Areas</small></h1>
<br> 
<div id="form" ng-show="!showThanks">
   <form>
      <div class="form-group"> <label for="agencyName">Agency Name</label> <input ng-model="submission.agency" type="text" class="form-control input-lg" id="agencyName" placeholder="Agency Name" list="agencies"> </div>
      <div class="form-group">
         <div class="row">
            <div class="col-sm-6"> <label for="division">Division</label> <select ng-disabled="!submission.agency" ng-model="submission.division" class="form-control input-lg" id="division" ng-options="division.name for division in divisions"></select> </div>
            <div class="col-sm-6"> <label for="area">Area</label> <select ng-model="submission.area" class="form-control input-lg" id="area" ng-disabled="!submission.division" ng-options="area for area in submission.division.areas"></select> </div>
         </div>
         <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <a href="http://www.dhs.vic.gov.au/__data/assets/pdf_file/0003/836157/DHS_Victoria_Map_Areas-LGAs.pdf" target="_blank">Find your area - DHS Victoria Area Map</a>
                    </div>
             </div>
      </div>
      <div class="form-group">
         <div class="row">
            <div class="col-sm-4"> <label for="active">Active Carers <span data-toggle="tooltip" data-placement="right" title="Active carer - has a current placement or is available for a placement referral" class="glyphicon glyphicon-question-sign"></span></label> <input ng-disabled="!submission.area" type="number" class="form-control" id="active" placeholder="No. of Active Carers" ng-model="submission.active"> </div>
            <div class="col-sm-4"> <label for="nonActive">Non-active Carers</label> <span data-toggle="tooltip" data-placement="right" title="Non-active carer - on 'hold' or on a break" class="glyphicon glyphicon-question-sign"></span> <input ng-disabled="!submission.area" type="number" class="form-control" id="nonActive" placeholder="No. of Non-active Carers" ng-model="submission.nonActive"> </div>
            <div class="col-sm-4"> <label for="inAccreditation">In Accredition Process</label> <span data-toggle="tooltip" data-placement="right" title="In accreditation process - started the training" class="glyphicon glyphicon-question-sign"></span> <input ng-disabled="!submission.area" type="number" class="form-control" id="inAccreditation" placeholder="No. in accreditation" ng-model="submission.inAccreditation"> </div>
         </div>
      </div>
      <button ng-disabled="!submission.division && !submission.area" class="btn btn-success" ng-click="addSubmission(submission)"> <span class="glyphicon glyphicon-plus"></span> Add</button> 
      <datalist id="agencies">
         <option data-ng-repeat="agency in agencies | orderBy:agency" value="{{agency}}">
      </datalist>
   </form>
   <br> <div ng-show="submissions.length > 0"> <table class="table"> <tr> <th>Agency <th>Division <th>Area <th>Active <th>Non-Active <th>In Accreditation <th>  <tr ng-repeat="submission in submissions track by $index"> <td>{{submission.agency}} <td>{{submission.division.name}} <td>{{submission.area}} <td>{{submission.active}} <td>{{submission.nonActive}} <td>{{submission.inAccreditation}} <td> <button class="btn btn-danger btn-xs" ng-click="deleteSubmission($index)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>   </table> <button ng-click="submit()" class="btn btn-lg btn-primary">Submit</button> </div> 
</div>
<div id="thankyou" ng-show="showThanks"> <div class="jumbotron"> <h1>Thanks!</h1> <p>Your form has been submitted to the FCAV.</p> <p> <button class="btn btn-primary btn-lg" role="button" ng-click="resetForm()">Submit Again</button> </p> </div> </div>