/* Webfont: NABImpact */@font-face {
    font-family: 'NABImpact';
    src: url('NABImpact.eot'); /* IE9 Compat Modes */
    src: url('NABImpact.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NABImpact.woff') format('woff'), /* Modern Browsers */
         url('NABImpact.ttf') format('truetype'); /* Safari, Android, iOS */
         url('NABImpact.svg#NABImpact') format('svg'), /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

