<md-dialog flex="60" aria-label="Add new user">
  <form name="ctrl.newUser" novalidate ng-submit="ctrl.submit()" flex ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add New Device</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
      <div layout="column" layout-gt-sm="row">
        <!--<md-input-container flex>-->
        <!--<label>Business name</label>-->
        <!--<input required type="text" name="businessName" ng-model="ctrl.user.businessName">-->
        <!--<div ng-messages="ctrl.newUser.businessName.$error" role="alert">-->
        <!--<div ng-message="required" class="my-message">Business name is required</div>-->
        <!--</div>-->
        <!--</md-input-container>-->

        <md-autocomplete flex
                         required
                         md-input-name="businessName"
                         md-selected-item="ctrl.user.businessName"
                         md-search-text="ctrl.businessNameSearchText"
                         md-items="businessName in ctrl.getBusinessNameList()"
                         md-item-text="buttonId"
                         md-floating-label="Button ID">
          <md-item-template>
            <span md-highlight-text="ctrl.businessNameSearchText">{{businessName}} test</span>
          </md-item-template>
        </md-autocomplete>

      </div>

      <div layout="column" layout-gt-sm="row">
        <md-input-container flex>
          <label>Device Name</label>
          <input required type="text" name="name" ng-model="ctrl.user.name">
          <div ng-messages="ctrl.newUser.name.$error" role="alert">
            <div ng-message="required" class="my-message">Name of device required</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Device Type</label>
          <input required type="text" name="type" ng-model="ctrl.user.type">
          <div ng-messages="ctrl.newUser.type.$error" role="alert">
            <div ng-message="required" class="my-message">Device type is required</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Branch Address</label>
          <md-select name="branch_address" ng-model="ctrl.user.branch_address">
            <md-option ng-repeat="gender in ctrl.branch_address" ng-value="branch_address">
              {{branch_address}}
            </md-option>
          </md-select>
          <div ng-messages="ctrl.newUser.branch_address.$error" role="alert">
            <div ng-message="required" class="my-message">Branch address is required</div>
          </div>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-sm="row">
        <md-input-container flex>
          <label>Email address</label>
          <input required type="email" name="email" ng-model="ctrl.user.email">
          <div ng-messages="ctrl.newUser.email.$error" role="alert">
            <div ng-message="required" class="my-message">Email address is required</div>
            <div ng-message="email" class="my-message">Email address is invalid</div>
            <div ng-message="exists" class="my-message">Email address already in database</div>


          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Notes</label>
          <input required type="tel" name="notes" ng-model="ctrl.user.notes">
          <div ng-messages="ctrl.newUser.notes.$error" role="alert">
            <div ng-message="required" class="my-message">Notes is required</div>
          </div>
        </md-input-container>
      </div>
   
   
   
<!--   
   
      <div layout="column" layout-gt-sm="row">
        <md-input-container flex="20">
          <label>State</label>
          <md-select ng-model="ctrl.user.state">
            <md-option ng-repeat="state in ctrl.states" ng-value="state">
              {{state}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="20">
          <label>Postcode</label>
          <input required type="tel" name="postcode" ng-model="ctrl.user.postcode">
          <div ng-messages="ctrl.newUser.postcode.$error" role="alert">
            <div ng-message="required" class="my-message">Postcode number is required</div>
          </div>
        </md-input-container>
        <md-input-container flex="60">
          <label>Website</label>
          <input type="text" name="website" ng-model="ctrl.user.website">
        </md-input-container>
      </div>

      <div layout="column" layout-gt-sm="row">
        <md-input-container flex flex-gt-sm="50">
          <label>How did you hear about us?</label>
          <md-select ng-model="ctrl.user.referalMethod">
            <md-option ng-repeat="method in ctrl.referalMethods" ng-value="method">
              {{method}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout="column" layout-gt-sm="row">
        <md-input-container flex>
          <label>Referral name</label>
          <input type="text" name="referral" ng-model="ctrl.user.referral">
        </md-input-container>
        <span flex></span>
      </div>

 <md-switch ng-model="ctrl.user.isMainBank" ng-true-value="'Yes'" ng-false-value="'No'">
       Is customer main bank? {{ ctrl.user.isMainBank }}
      </md-switch>
      <div layout="column" layout-gt-sm="row">
        <md-input-container flex="100" flex-gt-sm="50">
          <label>Length of tenure</label>
          <input required type="tel" name="tenure" ng-model="ctrl.user.tenure">
        </md-input-container>
      </div>

      <div layout="column" layout-gt-sm="row">
        <md-switch ng-model="ctrl.user.surveys" ng-true-value="'Yes'" ng-false-value="'No'">
          Participate in surveys? {{ ctrl.user.surveys }}
        </md-switch>

        <md-switch ng-model="ctrl.user.feedback" ng-true-value="'Yes'" ng-false-value="'No'">
          Participate in feedback? {{ ctrl.user.feedback }}
        </md-switch>
      </div> --> 


    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="ctrl.cancel()">
        Cancel
      </md-button>
      <span flex></span>

      <md-button ng-disabled="ctrl.isDisabled" type='submit' class="md-primary">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
