

<div layout="row">
  <md-card flex="100">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Timeframe</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-button>{{title1}}</md-button>
      <md-button class="md-primary">This hour</md-button>
      <md-button class="md-primary">This day</md-button>
      <md-button class="md-primary">This week</md-button>
      <md-button class="md-primary">This month</md-button>
      <md-button class="md-primary">This year</md-button>
      <md-button ng-disabled="true" class="md-primary">All</md-button>
    </md-card-content>
  </md-card>
</div>



<div layout="row">
  <md-card flex="30">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Tickets</span>
        <span class="md-subhead">by status</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <canvas id="pie" class="chart chart-pie" chart-data="ctrl.data" chart-labels="ctrl.labels" chart-options="ctrl.chartOptions"></canvas>
    </md-card-content>
  </md-card>
</div>


<div layout="row">
  <md-card flex="50">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Open Tickets</span>
        <span class="md-subhead">by branch (top 5)</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Unallocated Tickets</md-button>
      <md-button>Active Tickets</md-button>
      <md-button>Closed Tickets</md-button>
      <md-button>Unsolved Tickets</md-button>
    </md-card-actions>
    <md-card-content>
      <canvas id="bar" class="chart chart-bar" chart-data="ctrl.ticketByBranchChart.data" chart-labels="ctrl.ticketByBranchChart.labels"></canvas
    </md-card-content>
  </md-card>

  <md-card flex="50">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Open Tickets</span>
        <span class="md-subhead">by product</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <canvas id="bar" class="chart chart-bar" chart-data="ctrl.ticketByProductChart.data" chart-labels="ctrl.ticketByProductChart.labels"></canvas
    </md-card-content>
  </md-card>

</div>

<md-card flex>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Tickets</span>
      <span class="md-subhead">by technician</span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <div layout flex layout-padding>
    </div>

    <md-table-container>
      <table md-table ng-model="selected">
        <thead md-head md-order="ctrl.orderBy">
          <tr md-row>
            <th md-column md-order-by="name"><span>Name</span></th>
            <th md-column md-order-by="Assigned"><span>Open</span></th>
            <th md-column md-order-by="Closed"><span>Closed</span></th>
            <th md-column md-order-by="device.type">Unassigned</th>
            <th md-column md-order-by="device.type">Unsolvable</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="(name, technican) in ctrl.technician | limitTo: ctrl.technican.limit : (ctrl.technican.page -1) * ctrl.technican.limit">
            <td md-cell>{{name}}</td>
            <td md-cell>{{technican["Open"]}}</td>
            <td md-cell>{{technican["Closed"]}}</td>
            <td md-cell>{{technican["Unassigned"]}}</td>
            <td md-cell>{{technican["Unsolvable"]}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card-content>
</md-card>
