<md-card flex>
  <md-card-content>
    <div layout flex layout-padding>

    </div>

<md-table-container>
  <table md-table ng-model="selected">
    <thead md-head md-order="ctrl.orderBy">
    <tr md-row>
      <th md-column md-order-by="date"><span>Device Id</span></th>
      <th md-column md-order-by="branch_address"><span>Branch</span></th>
      <th md-column md-order-by="device.type">Device Type</th>
      <th md-column md-order-by="device.name">Device Model</th>
      <th md-column md-order-by="status">Status</th>
      <th md-column md-order-by="clicks">Reports</th>
      <th md-column md-order-by="date">Reported</th>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row ng-repeat="devices in ctrl.devices | orderBy: ctrl.orderBy | limitTo: ctrl.limit : (ctrl.page -1) * ctrl.limit">
      <td md-cell>{{devices.date_installed}}</td>
      <td md-cell>{{devices.branch_address}}</td>
      <td md-cell>{{devices.type}}</td>
      <td md-cell>{{devices.name}}</td>
      <td md-cell>{{devices.status}}</td>
      <td md-cell>{{devices.clicks}}</td>
      <td md-cell>{{devices.date | timeAgo }}</td>
      <td md-cell><md-button class="md-warn">Update</md-button></td>

    </tr>
    </tbody>
  </table>
</md-table-container>

  </md-card-content>
  <md-table-pagination
    md-limit="ctrl.limit"
    md-page="ctrl.page"
    md-total="{{(ctrl.devices | dateRange:ctrl.dateFilter.date | filter:{ location:ctrl.locationFilter }).length}}"
    md-page-select="true"
    md-boundary-links="true">
  </md-table-pagination>
  <div flex layout layout-align="center cetner">
    <md-progress-linear ng-if="ctrl.devices.length == 0" md-mode="indeterminate"></md-progress-linear>
  </div>
</md-card>
<md-button ng-click="ctrl.addDevice($event)" class="md-fab md-fab-bottom-right md-primary" aria-label="Add device">
  <md-icon>add</md-icon>
</md-button>
