<div layout="row" layout-fill flex>
  <md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-sm')"
    md-whiteframe="4">
    <div layout="column" layout-align="center center">
      <h1 style="font-size: 3em; margin-bottom: 0px;" class="text-primary">Red Button</h1>
      <h3 style="margin-top: 0px;">Administration Dashboard</h3>
    </div>
    <md-divider></md-divider>
    <md-list>
      <md-list-item ng-repeat="item in ctrl.menu" md-ink-ripple ui-sref="{{item.link}}">
        <md-list-item-content layout="row" layout-align="start center">
          <div class="inset">
            <md-icon>{{item.icon}}</md-icon>
          </div>
          <div class="inset">{{item.title}}
          </div>
        </md-list-item-content>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <md-content flex>
    <md-toolbar style="background-color: #000;">
      <div class="md-toolbar-tools">
        <h2>{{ctrl.title}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <ui-view></ui-view>
  </md-content>
</div>
