<md-card flex>
  <md-card-content>
    <h1>Ticket - {{ctrl.ticket.date}}</h1>
    <div layout flex>
      <md-input-container flex>
        <label>Date lodged</label>
        <input readonly type="text" ng-model="ctrl.ticket.date | date: 'dd/MM/yyyy hh:mm'">
      </md-input-container>
      <md-input-container flex>
        <label>Status</label>
        <input readonly type="text" ng-model="ctrl.ticket.status">
      </md-input-container>
      <md-input-container flex>
        <label>Branch name</label>
        <input readonly type="text" ng-model="ctrl.ticket.branchName">
      </md-input-container>
    </div>
    <h2>Device</h2>
    <div layout flex>
      <md-input-container flex>
        <label>Id</label>
        <input readonly type="text" ng-model="ctrl.ticket.device.id">
      </md-input-container>
      <md-input-container flex>
        <label>Type</label>
        <input readonly type="text" ng-model="ctrl.ticket.device.type">
      </md-input-container>
     <span flex></span>
    </div>
    <div flex layout layout-align="end">
      <md-button ng-click="ctrl.archive($event)" class="md-raised">Archive</md-button>
      <md-button ng-click="ctrl.assign($event)" class="md-raised md-primary">Assign ticket</md-button>
    </div>
  </md-card-content>
</md-card>
<md-card flex>
  <md-card-content>
    <h2>Comments</h2>
    <md-list flex>
      <md-list-item class="md-3-line" ng-repeat="comment in ctrl.ticket.comments">
        <img ng-src="images/user.svg" class="md-avatar" alt="{{comment.who}}" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ comment.user }}</h3>
          <h4>{{ comment.date  | date: 'dd/MM/yyyy hh:mm'}}</h4>
          <p>{{ comment.notes }}</p>
        </div>
      </md-list-item>
    </md-list>
    <md-input-container class="md-block">
      <label>Comment</label>
      <textarea ng-model="ctrl.comment" md-maxlength="200" rows="5" md-select-on-focus></textarea>
    </md-input-container>
    <div flex layout layout-align="end">
      <md-button ng-click="ctrl.addComment()" class="md-raised md-primary">Add comment</md-button>
    </div>
  </md-card-content>
</md-card>
