<md-card flex>
  <md-card-content>
    <div layout flex layout-padding>

    </div>

<md-table-container>
  <table md-table ng-model="selected">
    <thead md-head md-order="ctrl.orderBy">
    <tr md-row>
      <th md-column md-order-by="date"><span>Ticket Id</span></th>
      <th md-column md-order-by="branchName"><span>Branch</span></th>
      <th md-column md-order-by="device.type">Device type</th>
      <th md-column md-order-by="status">Status</th>
      <th md-column md-order-by="clicks">No. of reports</th>
      <th md-column md-order-by="assignee">Assignee</th>
      <th md-column md-order-by="date">Reported</th>
    </tr>
    </thead>
    <tbody md-body>
    <tr class="hover-highlight" ui-sref="home.ticket({id: ticket.$id })" md-row ng-repeat="ticket in ctrl.tickets | orderBy: ctrl.orderBy | limitTo: ctrl.limit : (ctrl.page -1) * ctrl.limit">
      <td md-cell>{{ticket.date}}</td>
      <td md-cell>{{ticket.branchName}}</td>
      <td md-cell>{{ticket.device.type}}</td>
      <td md-cell>{{ticket.status}}</td>
      <td md-cell>{{ticket.clicks}}</td>
      <td md-cell>{{ticket.assignee}}</td>
      <td md-cell>{{ticket.date | timeAgo }}</td>
    </tr>
    </tbody>
  </table>
</md-table-container>

  </md-card-content>
  <md-table-pagination
    md-limit="ctrl.limit"
    md-page="ctrl.page"
    md-total="{{(ctrl.tickets | dateRange:ctrl.dateFilter.date | filter:{ location:ctrl.locationFilter }).length}}"
    md-page-select="true"
    md-boundary-links="true">
  </md-table-pagination>
  <div flex layout layout-align="center cetner">
    <md-progress-linear ng-if="ctrl.tickets.length == 0" md-mode="indeterminate"></md-progress-linear>
  </div>
</md-card>
